@tailwind base;
@tailwind components;
@tailwind utilities;

.custum-scrollbar::-webkit-scrollbar{
    height:8px ip !important;
    width :8px;
}

.custum-scrollbar::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;
}